  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .navbar {
      background-color: #FFF;
      box-shadow: 0px 4px 20px 0px #0000000D;
      height: 110px;
  }

  #navbar {
      position: fixed;
      top: 0;
      width: 100%;
      transition: all 0.3s ease-in-out;
  }

  .navbar-toggler>.close {
      display: inline;
  }

  .navbar-toggler.collapsed>.close,
  .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
      display: none;
  }


  .coll {
      margin-top: 30px;
      row-gap: 10px;
      height: 100vh;
      background-color: #FFF;
  }

  .nav-link {
      color: #00094F;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  .navbar a:hover {
      border-bottom: 2px solid #E6074B;
      transition: 0.1s linear;
  }

  .enquire-btn {
      display: flex;
      width: 190px;
      height: 56px;
      padding: 16px 24px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 4px;
      background: #34B3E6;
      border: none;
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.2px;
  }

  .callus-btn {
      flex-shrink: 0;
      display: flex;
      height: 56px;
      padding: 16px 24px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 4px;
      border: 1px solid #34B3E6;
      color: #34B3E6;
      background-color: #FFF;
      color: #00094F;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.2px;
  }

  .callus-btn span {
      color: #34B3E6;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.2px;
  }

  .or {
      color: #737373;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.2px;
  }

  .btn1-grp {
      flex-direction: column;
  }

  .buttons-grp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
  }

  .button-text {
      color: #00094F;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin-bottom: 35px;
  }

  .headline {
      margin-top: 170px;
  }

  .headline .title {
      color: #E6074B;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.1px;
  }

  .headline .sub-title {
      color: #00094F;
      font-family: Montserrat;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: 80px;
  }

  .headline .text {
      color: #737373;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.2px;
  }

  .get-prepared {
      margin-top: 20px;
  }

  .get-prepared .title {
      color: #00094F;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .get-prepared .text {
      color: #727272;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  .admission-open-bg {
      background-color: #00094f;
      border-radius: 8px
  }

  .admission-open-bg .form-bg {
      background-color: #fff;
      padding: 25px;
      border-radius: 8px;
  }

  .admission-text {
      font-family: "Montserrat", Helvetica;
      font-weight: 700;
      color: #fff;
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.2px;
      line-height: 0px;
      white-space: nowrap;
      font-style: normal;
      margin-top: 40px;
      padding-top: 30px;
  }

  .counter {
      margin-top: 30px;
      align-items: last baseline;
      flex-shrink: 0;
      background: #00094F;
  }

  .counter .count {
      color: #E6074B;
      text-align: right;
      font-family: Montserrat;
      font-size: 46px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .counter .title {
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .why-rays {
      margin-top: 60px;
  }

  .why-rays .title {
      color: #00094F;
      text-align: center;
      font-family: Montserrat;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .why-rays .text {
      color: #737373;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .why-rays .card-icon {
      width: 72px;
      height: 72px;
  }

  .why-rays .card-title {
      color: #00094F;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.1px;
  }

  .why-rays .card-text {
      color: #737373;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .why-rays .underline {
      width: 60px;
      height: 2px;
      background: #E6074B;
  }

  /* 
  .course-details .btn-grp-fluid {
      height: 76px;
      background: #F1F1F1;
      display: flex;
      align-items: center;
      padding-left: 20px;
  }

  .course-details .btn-grp-fluid .btn {
      color: #00094F;
      font-weight: 400;
      border: none;
      padding: 10px;
  } */


  #german-course .title {
      color: #9AC979;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  #spanish-course .title {
      color: #9AC979;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  #english-course .title {
      color: #9AC979;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  #spanish-course .sub-title {
      color: #00094F;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  #english-course .sub-title {
      color: #00094F;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  #german-course .sub-title {
      color: #00094F;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .country .card-text {
      color: #737373;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .country .duration {
      color: #00094F;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  .country .hours {
      color: #34B3E6;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  .country .hours span {
      font-size: 14px;
  }

  .country .currency {
      color: #00094F;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.2px;
  }

  .country .price {
      color: #E6074B;
      font-family: Montserrat;
      font-size: 46px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .country .text {
      color: #737373;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.2px;
  }

  .country .bottom-text {
      color: #00094F;
      padding: 0 15px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.2px;
  }

  .country .bottom-text-1 {
      color: #00094F;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .course-details {
      margin-top: 80px;
      margin-bottom: 30px;
  }

  .course-details .title {
      color: #00094F;
      text-align: center;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .course-details .text {
      color: #737373;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .course-details .text span {
      color: #737373;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .country .fasttrack {
      border-radius: 4px;
      background: #d8edf6;
  }

  .fasttrack .title1 {
      display: flex;
      align-items: center;
      color: #252B42;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .country .card-title {
      color: #00094F;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .country .bottom-text {
      color: #00094F;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .country .price1 {
      color: #E6074B;
      font-family: Montserrat;
      letter-spacing: 0.2px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      font-size: 42px;
  }

  .explore {
      margin-top: 50px;
  }

  .explore .row {
      background: #FCFAF4;
  }

  .explore .study-abroad {
      background: #EBF7FC;
  }

  .explore .heading {
      color: #00094F;
      font-family: Montserrat;
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .card {
      border-radius: 4px;
      border: 1px solid #737373;
      background: #FFF;
  }

  .explore .card {
      border-radius: 4px;
      border: 1px solid #000;
      background: #FFF;
  }

  .explore .title {
      color: #00094F;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0.2px;
  }

  .explore .sub-title {
      color: #252B42;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  .explore .duration {
      color: #00094F;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  .explore .hours {
      color: #34B3E6;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  .explore .hours span {
      color: #34B3E6;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
  }

  .explore .currency {
      color: #00094F;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.2px;
  }

  .explore .price {
      color: #E6074B;
      font-family: Montserrat;
      font-size: 46px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;

      letter-spacing: 0.2px;
  }

  .explore .bottom-line {
      color: #00094F;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .explore .img-1 {
      margin-top: 80px;
  }

  .explore .text {
      color: #737373;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.2px;
  }

  .upcoming-batches {
      margin-top: 50px;
  }

  .upcoming-batches .heading {
      color: var(--text-color, #252B42);
      text-align: center;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .upcoming-batches .sub-heading {
      color: #737373;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .upcoming-batches .title {
      color: #E6074B;
      margin-top: 10px;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.1px;
  }

  .upcoming-batches .weekday {
      color: #96BB7C;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.1px;
  }

  .upcoming-batches .weekday span {
      color: #34B3E6;
  }

  .upcoming-batches .underline {
      background: #E6074B;
      width: 60px;
      height: 2px;
      margin-top: 5px;
      margin-bottom: 30px;
  }

  .upcoming-batches .date {
      color: #00094F;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.1px;
  }

  .upcoming-batches .timing {
      color: #737373;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin-bottom: 100px;
  }

  .upcoming-batches .register-btn {
      display: flex;
      width: 180px;
      height: 44px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      flex-shrink: 0;
      border-radius: 4px;
      background: #34B3E6;
      border: none;
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.2px;
  }

  .country-btngrp {
      display: flex;
      height: 56px;
      align-items: center;
      column-gap: 20px;
      justify-content: flex-start;
      margin-bottom: 20px;
      margin-top: 50px;
  }

  .country-btngrp .lang-btn {
      color: #34B3E6;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 12px;
      /* 75% */
      letter-spacing: 0.15px;
  }

  .country-btngrp .btn::after {
      content: '';
      display: flex;
      width: 0;
      margin-top: 10px;
      height: 2px;
      background-color: #E6074B;
      transition: width .3s;
  }

  .country-btngrp .btn:hover::after {
      width: 100%;
  }

  .gallery {
      margin-bottom: 50px;
  }

  .gallery .title {
      margin-top: 80px;
      color: var(--text-color, #252B42);
      text-align: center;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .gallery .sub-title {
      color: #737373;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin-bottom: 30px;
  }

  .footer {
      background: #00094F;
  }

  .footer .title {
      color: #9AC979;
      text-align: center;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .footer .sub-title {
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin-bottom: 50px;
  }

  .footer .links a {
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .footer .links-small {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
  }

  .footer .links-small a {
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
      text-decoration: none;
  }

  .footer .email-id {
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .footer .links a {
      text-decoration: none;
  }

  .footer .rights {
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }


  .footer .made {
      color: #FFF;
      text-align: right;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .footer .made-small {
      color: #FFF;
      text-align: right;
      font-family: Montserrat;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .footer .hr {
      color: #d8edf6;
  }

  .footer .bottom-line {
      padding-bottom: 50px;
  }

  .footer .rights-top {
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
  }

  .footer .enquire {
      display: flex;
      width: 180px;
      height: 44px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 4px;
      color: #FFFFFF;
      background: #34B3E6;
      border: none;
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.2px;
  }

  .footer .or {
      color: #FFF;
      text-align: center;

      /* btn-text */
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      /* 157.143% */
      letter-spacing: 0.2px;
  }

  .footer .callus-btn1 {
      display: flex;
      height: 44px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 4px;
      border: 1px solid #34B3E6;
      color: #FFF;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      /* 137.5% */
      letter-spacing: 0.2px;
  }

  .footer .callus-btn1 span {
      color: #34B3E6;

  }

  .footer .social a {
      color: green;
  }

  .modal-title {
      color: #252B42;
      text-align: center;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
  }

  .spanish-name {
      color: #737373;
      font-family: 'Montserrat';
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.2rem;
      letter-spacing: 0.2px;
  }

  .footer-text {
      color: #FFF;
  }

  .admission-form .form-group {
      margin-bottom: 15px;
  }

  .btn-inquiry-submit {
      font-family: "Montserrat", Helvetica;
      font-weight: 700;
      color: rgba(255, 255, 255, 1);
      font-size: 12px;
      text-align: center;
      white-space: nowrap;
      font-style: normal;
      background-color: #34b3e6;
      border-radius: 4px;
      overflow: hidden;
  }

  form {
      font-family: "Montserrat", Helvetica;
      font-weight: 300;
      font-size: 1rem;
      font-style: normal;
  }

  @media(max-width: 768px) {

      .headline {
          margin-top: 125px !important;
      }

      #home .sub-title {
          font-size: 1.7rem !important;
          line-height: 40px !important;
      }

      .text {
          font-size: 1rem !important;
          line-height: 20px !important;
      }

      .get-prepared .title {
          color: #00094F;
          font-family: Montserrat;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5rem;
          letter-spacing: 0.2px;
      }

      #courseDetails .title {
          color: #00094F;
          font-family: Montserrat;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5rem;
          letter-spacing: 0.2px;
      }

      #courseDetails .sub-title {
          color: #00094F;
          font-family: Montserrat;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5rem;
          letter-spacing: 0.2px;
      }

      .enquiryForm {
          display: none;
      }

      .admission-text {
          display: none;
      }

      .counter {
          margin-top: 0px !important;
          height: 335px;
          padding-top: 2px !important;
          padding-bottom: 10px !important;
      }
  }